.layout {
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
    &__pointer {
        cursor: pointer;
    }
    &__fullHeight {
        height: 100%;
    }
    &__widthAuto {
        width: auto;
    }
    &__direction {
        &_row {
            flex-direction: row;
        }
        &_column {
            flex-direction: column;
        }
    }
    &__jc {
        &_flexStart {
            justify-content: flex-start;
        }
        &_flexEnd {
            justify-content: flex-end;
        }
        &_spaceBetween {
            justify-content: space-between;
        }
        &_spaceEvenly {
            justify-content: space-evenly;
        }
        &_spaceAround {
            justify-content: space-around;
        }
        &_center {
            justify-content: center;
        }
    }
    &__ai {
        &_center {
            align-items: center;
        }
        &_flexEnd {
            align-items: flex-end;
        }
        &_felxStart {
            align-items: flex-start;
        }
    }
}
